.blogPost-body__single {
	padding-bottom: 10px;
}

.bigTab__single {
	margin-bottom: 58px;
	img {
		max-width: 43%;
	}
}

.direction-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 84px;
}

.direction__prew,
.direction__next {
	text-transform: uppercase;
	color: #c3c3c3;
	font-family: $title-font;
	border: 1px solid #ebebeb;
	padding-top: 16px;
	padding-bottom: 10px;
	border-radius: 30px;
	font-weight: bold;
	font-size: 12px;
	position: relative;

	&:hover {
		color: $white;
		background: $accent;
		border: 1px solid $accent;
	}
}

.direction__prew {
	padding-left: 41px;
	padding-right: 21px;

	&::before {
		content: '\f053';
		font-family: $ico-font;
		font-size: 11px;
		left: 18px;
		bottom: 11px;
		position: absolute;
	}
}

.direction__next {
	padding-right: 41px;
	padding-left: 21px;

	&::after {
		content: '\f054';
		font-family: $ico-font;
		font-size: 11px;
		position: absolute;
		right: 18px;
		bottom: 11px;
	}
}

.autor-info {
	p {
		font-size: 14px;
		line-height: 24px;
	}
}

.autor-block {
	border: 1px solid #f2f2f2;
	display: flex;
	justify-content: space-between;
	padding: 14px 50px 19px 17px;
	margin-bottom: 92px;
}

.autor-avatar {
	margin-right: 30px;

	img {
		border-radius: 50%;
	}
}
.autor__name {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 30px;
	color: #202020;
	font-family: $title-font;
}

.ml-none {
	.social__link {
		margin-left: 0px;
		margin-right: 24px;
	}
}

.category-link__footer {
	color: #919191;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 14px;
	line-height: 15px;
	border-right: 1px solid #919191;

	&:first-child {
		padding-left: 0;
	}

	&:last-child {
		border-right: none;
	}

	&:hover {
		color: $accent;
	}
}

.relatedPost__wrapper {
	display: flex;
	justify-content: space-between;
	margin-bottom: 114px;
}

.ralatedPost-item {
	margin-right: 23px;
	&:last-child {
		margin-right: 0;
	}
}

.relatedPost__img {
	img {
		max-width: 100%;
		height: auto;
	}
}

.relatedPost__bottom {
	border-right: 1px solid #f2f2f2;
	border-left: 1px solid #f2f2f2;
	border-bottom: 1px solid #f2f2f2;
	padding: 23px 14px 16px 14px;

	.content-info {
		font-size: 9px;
	}
}

.h2-relatedPost {
	font-size: 14px;
	text-transform: uppercase;
	font-family: $title-font;
	font-weight: bold;
	color: #2c333d;

	a {
		color: #2c333d;		
	}
}

.intput-c__wrapper {
	display: flex;
	justify-content: space-between;
	margin-bottom: 33px;
}

.c-name,
.c-email {
	width: 50%;
}

.c-name {
	margin-right: 30px;
}

.c-text {
	margin-bottom: 55px;
}

.grey_bg_inpt {
	background: #f9f9f9;
	border: 1px solid #f4f4f4;
	padding: 18px;
	font-size: 13px;
	color: #939292;

	&::placeholder {
		color: #939292;
	}
}

.c-text {
	width: 100%;
}

.c-btn-sbm {
	text-transform: uppercase;
	font-family: $title-font;
	padding: 17px 52px 14px 52px;
	border: none;
	color: $white;
	background: $accent;
	border-radius: 26px;
}