.mainBlog {
	padding-top: 125px;
	padding-bottom: 114px;
}

.twoColumn-grid	{
	@include row-flex();
	justify-content: center;
}

.mainContent {
	@include col();
	@include size(9);
	@include size-sm(12);
	padding-right: 38px;
	@include sm-block {
		padding-right: 0;
		margin-bottom: 40px;
	}
}

.sidebar {
	@include size(3);
	@include size-sm(12);
}

// Blog anounce

.blogPost-item {
	margin-bottom: 70px;
	overflow: hidden;
}

.favorites-icon {
	position: relative;

	&::after {
		content: '\f005';
		position: absolute;
		background: $accent;
		font-family: $ico-font;
		font-size: 14px;
		color: $white;
		padding: 8px 5px 11px 5px;
		border-radius: 0 0 13px 13px;
		top: 0;
		right: 19px;
	} 
}

.blogPost-header__link {
	display: block;
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}
}

.blogPost-pic {
	max-width: 100%;
	height: auto;
}

.blogPost-body {
	padding: 33px 59px 46px 22px;
	border-left: 1px solid #ebebeb;
	border-right: 1px solid #ebebeb;
	border-top: 1px solid #ebebeb;

	p {
		font-size: 14px;
		line-height: 25px;
	}
}

.blogPost-info {
	margin-bottom: 13px;
}

.content-info {
	font-size: 12px;
	font-family: $title-font;
	color: $accent;
	text-transform: uppercase;
	font-weight: bold;
	border-right: 1px solid $accent;
	padding-left: 10px;
	padding-right: 10px;

	&:first-child {
		padding-left: 0px;
	}

	&:last-child {
		padding-right: 0px;
		border-right: none;
	}
}

.h2-blog {
	font-size: 18px;
	
	a {
		color: $sidebar-title;
	}
}

.blogPost-footer {
	border: 1px solid #ebebeb;
	padding: 15px 20px 17px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.blog-lmore__link {
	color: #989898;
	font-size: 13px;
	border: 1px solid #d5d7d8;
	padding: 8px 17px;
	border-radius: 18px;
	font-family: $title-font;

	&:hover {
		background: $accent;
		color: $white;
		border: 1px solid $accent;
	}
}

.link-info {
	font-size: 14px;
	color: #919191;
	margin-left: 20px;

	i {
		margin-right: 6px;
	}
}

.blogPost-slider {
	margin-bottom: 0;
}

.mosaic {
	display: flex;
	justify-content: center;
	@include xxs-block {
		flex-wrap: wrap;
	}
}

.mosaic-left {
	margin-right: 6px;
}

.mosaic-right {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.mosaic-right__bottom {
	display: flex;
	justify-content: space-between;
}

.mosaic__link {
	display: block;
}

.video-container {
	background: url(../img/video_blog_bg.jpg) center top;
	background-size: cover;
	height: 415px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.blogPost-quote {
	background: #ffefd5;
	padding: 75px 25px 80px 99px;
}

.quote__blog {
	font-family: $title-font;
	font-size: 20px;
	font-style: italic;
	line-height: 30px;
	position: relative;

	&::before {
		content: '\f10d';
		position: absolute;
		font-size: 60px;
		color: #f4c67c;
		font-family: $ico-font;
		font-style: normal;
		left: -70px;
		bottom: 10px;
	}
}

// Blog pagination

.pagination {

	&__list {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&__item {
		display: inline-block;
		margin-left: 6px;
		@include xs-block {
		 margin-bottom: 20px;
		}
	}

	&__link {
		display: block;
		padding: 14px 18px;
		border: 1px solid #ebebeb;
		color: #919191;

		&:hover {
			background: $accent;
			border: 1px solid $accent;
			color: $white;
		}
	}

	&__link--first,
	&__link--last {
		padding: 14px 26px;
	}

	&__link--first {
		border-radius: 25px 0px 0px 25px;
	}

	&__link--last {
		border-radius: 0px 25px 25px 0px;
	}

	&__link--active {
		background: $accent;
		border: 1px solid $accent;
		color: $white;
		font-weight: bold;
	}
}