.caseContent {
	padding-top: 124px;
	padding-bottom: 103px;
	@include xs-block {
		padding-top: 60px;
		padding-bottom: 70px;
	}
}

.caseSlider {
	position: relative;
	margin-bottom: 115px;
	@include xs-block {
		margin-bottom: 50px;
	}
}

.caseSlide {
	&__next,
	&__prew {
		position: absolute;
		top: 50%;
		margin-top: -20px;
		background: #232527;
		opacity: .24;
		font-size: 30px;
		line-height: 30px;
		color: $white;
		padding: 4px 15px;
		cursor: pointer;

		&:hover {
			color: $accent;
			opacity: .7;
		}
	}

	&__next {
		right: 6px;
	}

	&__prew {
		left: 6px;
	}

	img {
		max-width: 100%;
		height: auto;
	}
}

// CASE CONTENT
.caseContent {
	
	&-top {
		@include row-flex;
		justify-content: center;
	}

	&-right {
		@include col();
		@include size(8);
		@include size-md(7);
		@include size-sm(6);
		@include size-xs(12);
		@include xs-block {
			order: 1;
		}
	}

	&-left {
		@include size(4);
		@include size-sm(6);
		@include size-xs(12);
		@include xs-block {
			order: 0;
			margin-bottom: 30px;
		}
	}

	&__title {
		font-size: 37px;
		color: #2c333d;
		font-family: $title-font;
		text-transform: uppercase;
		position: relative;
		padding-bottom: 36px;
		margin-bottom: 41px;

		&::before {
			content: '';
			position: absolute;
			width: 30px;
			height: 2px;
			background: $accent;
			bottom: 0;
			left: 0;
		}
	}

	&__text {
		padding-right: 47px;

		@include sm-block {
			padding-right: 20px;
		}

		p {
			font-size: 14px;
			line-height: 24px;
		}
	}
}

.caseContent {

	&__info {
		margin: 0;
		padding: 0;
		list-style: none;
		border: 2px solid $accent;
		padding: 39px 42px 39px 38px;
		@include md-block {
			padding: 20px 22px;
		}
	}

	&__list {
		font-size: 14px;
		text-transform: uppercase;
		line-height: 39px;
		color: #2c333d;
		@include md-block {
			line-height: 29px;
		}

		span {
			display: inline-block;
			position: relative;
			color: $accent;
			min-width: 102px;
			margin-right: 20px;
			font-weight: bold;

			&::after {
				content: ':';
				position: absolute;
				right: 0;
			}
		}
	}
}

//  BIS TABS

.bigTab {
	margin-bottom: 107px;

	&__tabs {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		border-bottom: 1px solid #e8e8e8;
		margin-bottom: 44px;
		@include xs-block {
			display: block;
			border-bottom: none;
			margin-bottom: 0;
		}
	}

	&__tab {
		font-size: 14px;
		font-family: $title-font;
		text-transform: uppercase;
		font-weight: bold;
		color: #bebebe;
		margin: 16px 0;
		padding: 0 40px;
		border-right: 2px solid #eee;
		cursor: pointer;

		@include xs-block {
			border-right: none;
			padding: 20px;
			margin: 0;
		}

		&:first-child {
			padding-left: 0;
			@include xs-block {
				padding-left: 20px;
			}
		}
		&:last-child {
			border-right: none;
		}
	}

	&__text {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 64px;
		@include sm-block {
			flex-wrap: wrap;
			justify-content: center;
			margin-bottom: 30px;
		}

		img {
			max-width: 100%;
			height: auto;
			border: 1px solid #e8e8e8;
		}
	}
}

.p__wrapper {
	p {
		font-size: 15px;
		line-height: 24px;
		span {
			font-weight: bold;
			display: block;
			line-height: 30px;
		}
	}
}

.img-right {
	img {
		margin-left: 33px;
		@include sm-block {
			margin-left: 0;
		}
	}
}

.img-left {
	img {
		margin-right: 40px;
		@include sm-block {
			margin-right: 0;
			margin-bottom: 20px;
		}
	}
}


.big-active {
	color: $accent;
	position: relative;

	&::after {
		position: absolute;
		content: '';
		width: 100%;
		height: 2px;
		background: $accent;
		bottom: -17px;
		left: 0;
		@include xs-block {
			bottom: 0;
		}
	}
}

// QUOTE

.b-quote {
	margin-bottom: 140px;

	&__block {
		background: #f1f1f1;
		display: flex;
		justify-content: flex-start;	
		padding: 46px 59px 43px 76px;	
	}

	&__pic {
		margin-right: 30px;
		position: relative;

		&::after {
			content: '\f10d';
			position: absolute;
			color: $accent;
			background: #232529;
			font-size: 16px;
			padding: 8px;
			font-family: $ico-font;
			top: 0;
			right: -10px;
			border-radius: 50%;
		}

		img {
			border-radius: 50%;
			width: 77px;
			height: 77px;
		}
	}

	&__p--wrapper {
		position: relative;
		margin-bottom: 40px;
		&::after {
			position: absolute;
			content: '';
			width: 15px;
			height: 1px;
			left: 0;
			bottom: -20px;
			background: $accent;
		}
		p {
			line-height: 24px;
		}
	}

	&__name {
		font-size: 15px;
		line-height: 24px;
		font-family: $title-font;
		font-weight: bold;
		text-transform: uppercase;
	}

	&__position {
		font-size: 11px;
		line-height: 24px;
		color: $accent;
		text-transform: uppercase;
	}
}

// RELATED PROGECT

.relProject {
	padding-top: 135px;
	padding-bottom: 155px;
}