// top header
.headerLogo {
	color: $header;
	font-family: $logo-font;
	font-weight: bold;
	font-size: 30px;
	letter-spacing: -0.045em;

	&:hover {
		color: #3f4b5a;
		text-decoration: none;
	}
	@include sm-block {
		margin-bottom: 30px;
	}
}
.imgLogo {
	margin-right: 5px;
}

.headerTop {
	display: flex;
	justify-content: space-between;
	min-height: 100px;
	align-items: center;
	@include sm-block {
		flex-direction: column;
		justify-content: center;
	}
}

.info__wrapper {
	@include sm-block {
		margin-bottom: 30px;
	}
}

.timeHeader,
.phoneHeader {
	display: inline-block;
	font-family: $title-font;
	font-size: 14px;
	color: $header;
	font-weight: bold;
}

.timeHeader {
	@include xs-block {
		margin-bottom: 30px;
	}
}

.timeIco,
.phoneIco,
.timeWrapper,
.phoneWrapper {
	display: inline-block;
	vertical-align: middle;
}

.timeHeader {
	margin-right: 80px;
}

.timeWrapper,
.phoneWrapper {
	margin-left: 20px;
}

.dayOff,
.phoneDescr {
	color: $accent;
}

// bottom header

.headerBottom {
	border-top: 1px solid #e4e4e4;

	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 55px;

		// @include md-block {
		// 	flex-wrap: wrap;
		// }
	}
}

// MENU
.nav {
	@include md-block {
		display: none;
	}

	&__list {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		justify-content: space-between;
		@include md-block {
			flex-wrap: wrap;
		}
	}

	&__item {
		margin-right: 8px;
	}

	&__link {
		text-transform: uppercase;
		font-family: $title-font;
		font-size: 14px;
		color: $header;
		font-weight: bold;
		padding: 20px 15px 20px 22px;
		&:hover {
			color: $accent;
			text-decoration: none;
		}
	}

	&__link--active {
		position: relative;
		color: $accent;

		&::before {
			content: "";
			position: absolute;
			bottom: 2px;
			right: 0;
			height: 3px;
			width: 100%;
			background: $accent;
		}
	}
}


// search block

.search {
	margin-right: auto;
	@include md-block {
		margin-right: 0;
		margin-left: auto;
	}

	&__btn {
		color: $header;
		&:hover {
			color: $header;
		}
	}
}

// social block
.socialBlock {
	margin: 0;
	padding: 0;
	list-style: none;
}

.social {
	&__item {
		display: inline-block;
	}

	&__link {
		color: $maingrey;
		margin-left: 24px;
		font-size: 14px;

		&:hover {
			color: $accent;
			text-decoration: none;
		}
	}
}

// Adaptive menu icon
.g-icon {
	display: none;
	width: 35px;
	height: 25px;
	position: relative;
	cursor: pointer;
	@include md-block {
		display: block;
	}

	span {
		display: block;
		position: absolute;
		height: 3px;
		width: 100%;
		background: $maingrey;
		border-radius: 9px;
		left: 0;
		transform: rotate(0deg);
		transition: .25s ease-in-out;

		&:nth-child(1) {
			top: 0px;
		}
		&:nth-child(2),
		&:nth-child(3) {
			top: 13px;
		}
		&:nth-child(4) {
			top: 26px;
		}
	}
}

.nav-open {
	display: block;
}