$default-font: "poppins", sans-serif;
$title-font: "josefinsans", sans-serif;
$logo-font: "comfortaa", sans-serif;
$ico-font: "FontAwesome";

$white: #fff;
$accent: #ffa000;
$text: #525252;
$header: #3f4b5a;
$footer: #d3cece;
$maingrey: #acafb3;
$grey-bg: #f4f4f4;
$sidebar-title: #202020;

























// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
// $grid-gutter-width: 30px;
// $grid-columns: 12;
// $grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
// $container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px);

// $gutter: $grid-gutter-width;
